<app-header (onClickEvent)="toggle()"></app-header>

<div class="main-container">
  <div class="content">
    <div class="filters">
      <app-filter
        title="Name"
        [filterSize]="2"
        [aggregationService]="aggregationService"
      ></app-filter>
      <app-filter
        title="Position"
        [filterSize]="3"
        [aggregationService]="aggregationService"
      ></app-filter>
      <app-filter
        title="Weight"
        [filterSize]="3"
        [aggregationService]="aggregationService"
      ></app-filter>
      <app-filter
        title="Symbol"
        [filterSize]="6"
        [aggregationService]="aggregationService"
      ></app-filter>
    </div>
    <div class="table-section">
      @if (hasActiveFilters()) {
      <div class="table-header">
        <app-active-filter
          [aggregationService]="aggregationService"
        ></app-active-filter>
        <button mat-raised-button (click)="removeFilter()">
          Remove all filters
        </button>
        <hr />
      </div>
      }
      <div class="table-responsive">
        <app-table [dataService]="dataService"></app-table>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
