.example-container {
  width: auto;
  height: 100%;
  margin: 10px;
}

.example-card {
  margin-left: 5px;
  margin-bottom:15px;
  margin-right: 5px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

mat-card-header {
  padding-bottom: 16px;
}

.filter-content button {
  border-radius: 4px;
}

.filter-content .badge {
  background-color: blue;
  color: white;
  width: 4em;
  padding: 0.4em 0.6em 0.4em 0.6em;
  border-radius: 7px;
}

.filter-content button.active-filter {
  background-color: blue;
  color: white;
}

.filter-content button.active-filter .badge {
  background-color: white;
  color: blue;
}

.table-container {
  padding-left: 20px;
}

mat-card-content {
  padding-left: 0;
}

.filter-buttons {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.filter-buttons button {
  margin-left: 5px;
  border-radius: 4px;
  background-color: blue;
  color: white;
}

.filter-buttons .clear-filters-button {
  margin-left: 5px;
  font-size: 14px;
  border-radius: 4px;
  background-color: white;
  color: black;
}

i {
  margin-left: 5px;
  font-size: 14px;
  vertical-align: middle;
}

table {
  margin-right: 10px;
}
