<div class="detail-container">
  <div class="detail-grid">
    <dt><strong>Name:</strong></dt>
    <dd>{{ element?.name }}</dd>

    <dt><strong>Position:</strong></dt>
    <dd>{{ element?.position }}</dd>

    <dt><strong>Weight:</strong></dt>
    <dd>{{ element?.weight }}</dd>

    <dt><strong>Symbol:</strong></dt>
    <dd>{{ element?.symbol }}</dd>

    <dt><strong>Test 1:</strong></dt>
    <dd>{{ element?.test1 }}</dd>

    <dt><strong>Test 2:</strong></dt>
    <dd>{{ element?.test2 }}</dd>

    <dt><strong>Test 3:</strong></dt>
    <dd>{{ element?.test3 }}</dd>

    <dt><strong>Test 4:</strong></dt>
    <dd>{{ element?.test4 }}</dd>
  </div>
</div>
