<mat-toolbar class="mat-toolbar">
  <div class="toolbar-container">
    <div class="logo-container">
      <a routerLink="/data_portal">
        <img alt="FAANG logo" src="../../../assets/FAANG_logo_RGBc.png" height="50" width="auto" class="logo">
      </a>
    </div>
    <button mat-button [matMenuTriggerFor]="menu" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="nav-links">
      <button mat-button class="custom-button">
        <a class="nav-link" routerLink="/data_portal" routerLinkActive="active">Test 1</a>
      </button>
      <button mat-button class="custom-button">
        <a class="nav-link" routerLink="/data_portal" routerLinkActive="active">Test 2</a>
      </button>
    </div>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item class="menu-item">
    <a class="nav-link" routerLink="/data_portal" routerLinkActive="active">Test 1</a>
  </button>
  <button mat-menu-item class="menu-item">
    <a class="nav-link" routerLink="/data_portal" routerLinkActive="active">Test 2</a>
  </button>
</mat-menu>
