.containers-flex {
    display: flex;
    flex-direction: row;
}

.container-filters {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    font-size: 14px;
}

.table-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.table-responsive {
    margin-bottom: 20px;
}

app-table {
    flex: 1;
}

.grid-table-wrapper {
    margin-top: 60px;
}
