<app-header></app-header>

<div class="main-container">
    <div class="header-content">
        <h2>FAANG Test</h2>
        <hr class="full-width-hr">
    </div>
    <div class="content">
        <div class="filters">
            <app-filter title="Sex" [filterSize]="2"></app-filter>
            <app-filter title="Organism" [filterSize]="3"></app-filter>
            <app-filter title="Breed" [filterSize]="3"></app-filter>
            <app-filter title="Standard" [filterSize]="6"></app-filter>
        </div>
        <div class="table-section">
            <div *ngIf="hasActiveFilters()" class="table-header">
                <app-active-filter></app-active-filter>
                <button mat-raised-button (click)="removeFilter()">Remove all filters</button>
                <button mat-raised-button matTooltip="Subscribe to selected entries" (click)="openSubscriptionDialog()">
                    <div class="subscription-icon">
                        <mat-icon>email</mat-icon>
                    </div>
                </button>
                <hr>
            </div>
            <div class="table-responsive">
                <app-table></app-table>
            </div>
        </div>
    </div>
</div>
