<div class="containers-flex">

    <div class="container-filters">
        <app-filter title="Sex" [filterSize]=2></app-filter>
        <app-filter title="Organism" [filterSize]=3></app-filter>
        <app-filter title="Breed" [filterSize]=3></app-filter>
        <app-filter title="Standard" [filterSize]=6></app-filter>
    </div>

    <div class="table-container">
        <div fxFlex="83" class="table-responsive">
            <div *ngIf="hasActiveFilters()">
                <app-active-filter *ngIf="hasActiveFilters()"></app-active-filter>
                <button mat-raised-button (click)="removeFilter()">Remove all filters</button>
                <button mat-raised-button
                        matTooltip="Subscribe to selected Analysis entries"
                        (click)="openSubscriptionDialog()">
                    <div class="subscription-icon">
                        <mat-icon>email</mat-icon>
                    </div>
                </button>
                <hr>
            </div>
        </div>
        <app-table></app-table>
    </div>

</div>
