<mat-card class="filter-card">
    <h6 class="filter-header item">
        {{title}}
        <i class="material-icons float-right" *ngIf="aggregation && aggregation.length > (filterSize ?? 0) && isCollapsed !== undefined && isCollapsed" (click)="toggleCollapse()">add</i>
        <i class="material-icons float-right" *ngIf="aggregation && aggregation.length > (filterSize ?? 0) && isCollapsed !== undefined && !isCollapsed" (click)="toggleCollapse()">remove</i>
    </h6>
    <div [ngClass]="{'long-list': (itemLimit ?? 0) > (filterSize ?? 0)}">
        <ng-container *ngFor="let aggr of aggregation; let i = index">
            <div class="d-flex justify-content-between align-items-center item"
                 *ngIf="i < (itemLimit ?? 0) && aggr[0] != ''"
                 [ngClass]="{'active': (aggregationService.current_active_filters?.indexOf(aggr[0]) ?? -1) > -1}"
                 (click)="onButtonClick(aggr[0], title)">
                {{aggr[0]}}
                <span class="badge badge-secondary badge-pill">{{aggr[1]}}</span>
            </div>
        </ng-container>
    </div>
</mat-card>
